﻿@using Kartverket.Models.ViewModels
@model IEnumerable<Kartverket.Models.ViewModels.AreaChangesViewModel>

@{
    ViewData["Title"] = "Overview";  // Setter tittelen på siden til "Overview".
}

<head>
    <link rel="stylesheet" href="~/css/AreaChangeOverview.css" asp-append-version="true" /> @* links to the AreaChangeOverview.css file*@
</head>

<body class="table-container">
    @* A table that displays user submit history, each report is represented by a row with a relevant data for each column *@

    <div class="top-section">
        <h1 class="title">Alle saker</h1>
        <p class="fullDescription">
            Her er en oversikt over mine saker.
        </p>
    </div>

    <div class="table-box">
        <h2 class="table-title">Mine saker</h2>

        <table class="table">

            <thead>

                <tr class="table-header">
                    @* Table header that displays all the titles of different data of the area change report*@
                    <th>RapportID</th>
                    <th>AreaJson</th>
                    <th>Beskrivelse</th>
                    <th>Kommunenavn</th>
                    <th>Fylkenavn</th>
                    <th>Sakbehandler</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="table-body">
                @* Table body that displays the different data sent in from a user, the area change report itself *@

                @foreach (var change in Model)
                {
                    <tr>
                        <td>@change.Id</td>
                        <td>@change.ViewAreaJson</td>
                        <td>@change.ViewDescription</td>
                        <td>@change.ViewKommunenavn</td>
                        <td>@change.ViewFylkenavn</td>
                        <td>@change.CaseHandler</td>
                        <td>@change.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>